html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.App{
    position: relative;
    width: 100%;
}

.logo{
    width: 100px;
    margin-top: 10px;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #000000aa);
    cursor: pointer;
}

@keyframes rotate {from { transform: rotate(0deg); }
    to {transform: rotate(360deg);}}

@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

  .logo{
    animation: 40s rotate linear infinite;
    -webkit-animation: 40s rotate linear infinite;
}

/* carrousel */
.carrousel{
    height: 550px;
}

.carrousel-i{
    height: 550px;
}

/* Projet */

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}